<top-menu></top-menu>
<overview></overview>
<broadcast></broadcast>
<contacts></contacts>
<group></group>

<script src="/web/tag/top-menu.html" type="riot/tag"></script>
<script src="/web/tag/overview.html" type="riot/tag"></script>
<script src="/web/tag/broadcast.html" type="riot/tag"></script>
<script src="/web/tag/contacts.html" type="riot/tag"></script>
<script src="/web/tag/group.html" type="riot/tag"></script>
<script src="/web/tag/view-group.html" type="riot/tag"></script>
<script src="/web/tag/add-group.html" type="riot/tag"></script>
<script src="/web/tag/group-left.html" type="riot/tag"></script>
<script src="/web/tag/add-group-member.html" type="riot/tag"></script>








