<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/favicon.ico">
    <title>登陆反馈</title>
    <script type="text/javascript">

    </script>
    <style>
        .feedback {
            width: 100%;
            padding-top: 100px;
        }
        .feedback div{
            width: 80%;
            margin: 0 auto;
        }

    </style>
</head>
<body>
    <div class="feedback">
        <div>
            {% if result=='NO_PRIVILEGE' %}
                您的账户没有文章发布权限, <br>请联系运营管理员 13521102990
            {% elseif result=='NO_USER' %}
                您目前还没有文章发布账户, <br>请联系运营管理员 13521102990
            {% endif %}
        </div>
    </div>
</body>
</html>