<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/favicon.ico">
    <title>登陆反馈</title>
    <script type="text/javascript">

    </script>
    <style>
        .feedback {
            width: 100px;
            padding-top: 100px;
        }
        .feedback div{
            width: 50%;
            margin: 0 auto;
        }

    </style>
</head>
<body>
    <div class="feedback">
        <div >
            登陆失败：{{result}} &nbsp;&nbsp;
        </div>
    </div>
</body>
</html>