<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{__app.resources.app.title}}</title>
    {% set prdOrNot = !__app.settings.env.debug %}
    {% if prdOrNot %}
    <script src="/public/components/seajs/dist/sea.js"></script>
    <script src="/public/components/seajs-wrap/dist/seajs-wrap.js"></script>
    {% endif %}
    <script>
    window.__app = {{ JSON.stringify(__app) }};
    window.__page = {{ JSON.stringify(__page) }};
    window.prdOrNot =( !__app.settings.env.debug );
    var scripthook = document.createElement( "script" );
    if(prdOrNot){
        scripthook.src = "/web/note-index.js";
    }else{
        scripthook.src = "/web/spm/build/note/0.0.1/index.js";
    }
    document.getElementsByTagName( "head" )[0].appendChild( scripthook );
    </script>
    <link rel="stylesheet" href="/public/components/weui/dist/style/weui.min.css"/>
</head>
<body style="background: #82817f;max-width: 768px;position: relative; margin: 0px auto;">
    <div class="wrapper" style="background: #ddd">
        <note-edit></note-edit>
        {% if prdOrNot %}
        <script src="/web/tag/note-edit.html" type="riot/tag"></script>
        <script src="/web/tag/note-menu.html" type="riot/tag"></script>
        <script src="/web/tag/note-footer.html" type="riot/tag"></script>
        <script src="/web/tag/note-section.html" type="riot/tag"></script>
        <script src="/web/tag/note-comment.html" type="riot/tag"></script>
        {% endif %}
    </div>
</body>
</html>