<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>记易</title>
    <script src="/public/components/seajs/dist/sea.js"></script>
    <script src="/public/components/seajs-wrap/dist/seajs-wrap.js"></script>
    <script>
    window.__app = {{ JSON.stringify(__app) }};
    window.__page = {{ JSON.stringify(__page) }};
    window.prdOrNot =( __app.settings.env.NODE_ENV === "production" );
    var scripthook = document.createElement( "script" );
    scripthook.src = "/web/note-index.js";
    document.getElementsByTagName( "head" )[0].appendChild( scripthook );
    </script>
    <link rel="stylesheet" href="/public/components/weui/dist/style/weui.min.css"/>
    <!--<script src="/web/js/app/jquery.jplayer.min.js"></script>-->
</head>
<body style="background: #82817f;max-width: 768px;position: relative; margin: 0px auto;">
    <div class="wrapper" style="background: #ddd">
        <note-edit></note-edit>
        <script src="/web/tag/note-edit.html" type="riot/tag"></script>
        <script src="/web/tag/note-menu.html" type="riot/tag"></script>
        <script src="/web/tag/note-footer.html" type="riot/tag"></script>
        <script src="/web/tag/note-section.html" type="riot/tag"></script>
    </div>
</body>
</html>