<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{__app.resources.app.title}}</title>
    <script>
        var SWIPE_THRESHOLD = 100, // default value
            DBL_TAP_THRESHOLD = 200, // range of time in which a dbltap event could be detected,
            LONG_TAP_THRESHOLD = 1000, // range of time after which a longtap event could be detected
            TAP_THRESHOLD = 150, // range of time in which a tap event could be detected
            TAP_PRECISION = 60 / 2, // default value (touch events boundaries)
            JUST_ON_TOUCH_DEVICES = false; // default value ( decide whether you want to use the Tocca.js events only on the touch devices )
    </script>
    <link rel="stylesheet" href="/web/css/main.css"/>
    {% set devOrNot = __app.settings.env.debug %}
    {% if devOrNot %}
    <script src="/public/components/seajs/dist/sea.js"></script>
    <script src="/public/components/seajs-wrap/dist/seajs-wrap.js"></script>
    {% endif %}
    <script>
    window.__app = {{ JSON.stringify(__app) }};
    window.__page = {{ JSON.stringify(__page) }};
    window.devOrNot =( __app.settings.env.debug );
    var scripthook = document.createElement( "script" );
    if(devOrNot){
        scripthook.src = "/web/index.js";
    }else{
        scripthook.src = "/web/spm/build/note/0.0.1/index.js";
    }
    document.getElementsByTagName( "head" )[0].appendChild( scripthook );
    </script>
    <link rel="stylesheet" href="/public/components/weui/dist/style/weui.min.css"/>
    <style>
        #welcomeBody{
            transition: all 1s;
        }
        #welcomeFooter{
            transition: all 1s;
        }
    </style>
</head>
<body>
    <div>
        <div id="welcomeWrapper" style="width: 100%; height: 500px; overflow: hidden">
            <div id="welcomeBody" style="width: 100%; margin: 0px auto; margin-top: 100px; text-align: center">
                <div>
                    <div style="border-radius: 4px;background: #3399FF;width: 240px;height: 240px; margin: 0px auto;vertical-align: middle;line-height: 1.5;">
                        <span style="font-size: 160px;color: white">記</span>
                    </div>
                </div>
                <!--<div><img src="/public/images/logo_240x240.jpg"/></div>-->
            </div>
            <div id="welcomeFooter" style="margin-top: 100px; opacity: 0; text-align: center">
                <div>
                    <p style="font-size: 24px; margin-bottom: 10px">友趣笔记</p>
                    <p>记录光阴的故事</p>
                </div>
            </div>
        </div>
        <script>
            var wWrapper,
                screenHeight,
                wBody,
                bodyHeight,
                topMargin;
            wWrapper = document.querySelector('#welcomeWrapper');
            screenHeight = window.innerHeight;
            wWrapper.style.height = screenHeight + 'px';
            wBody = document.querySelector('#welcomeBody');
            bodyHeight = wBody.clientHeight;
            setTimeout(function(){
                var footer = document.querySelector('#welcomeFooter');
                if(footer){
                    footer.style.marginTop = '30px';
                    footer.style.opacity = 1;
                }
            }, 300)
        </script>
        <notebook-index></notebook-index>
        <notebook-new></notebook-new>
        <notebook-detail></notebook-detail>
        <notebook-timelines></notebook-timelines>
        <btn-group></btn-group>
        <note-page></note-page>
        <note-share></note-share>
        <mask></mask>

        {% if devOrNot %}
        <script src="/web/tag/notebook-timelines.html" type="riot/tag"></script>
        <script src="/web/tag/notebook-timeline.html" type="riot/tag"></script>
        <script src="/web/tag/notebook-index.html" type="riot/tag"></script>
        <script src="/web/tag/notebook-new.html" type="riot/tag"></script>
        <script src="/web/tag/notebook-item.html" type="riot/tag"></script>
        <script src="/web/tag/notebook-detail.html" type="riot/tag"></script>
        <script src="/web/tag/note-page.html" type="riot/tag"></script>
        <script src="/web/tag/page-section.html" type="riot/tag"></script>
        <script src="/web/tag/note-menu.html" type="riot/tag"></script>
        <script src="/web/tag/note-section.html" type="riot/tag"></script>
        <script src="/web/tag/btn-group.html" type="riot/tag"></script>
        <script src="/web/tag/note-comment.html" type="riot/tag"></script>
        <script src="/web/tag/note-share.html" type="riot/tag"></script>
        <script src="/web/tag/note-confirm.html" type="riot/tag"></script>
        <script src="/web/tag/note-input.html" type="riot/tag"></script>
        <script src="/web/tag/note-input-share.html" type="riot/tag"></script>
        <script src="/web/tag/mask.html" type="riot/tag"></script>
        {% endif %}
    </div>
</body>
</html>