<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>记易</title>
    <script>
    </script>
</head>
<body style="background: #82817f;max-width: 768px;position: relative; margin: 0px auto;">
    <div class="wrapper" style="background: #ddd">
        <!-- 服务号二维码 -->
        <img src="/public/images/qrcode_for_cuotiben.jpg" width="200" height="200">
        <div>
            <a href="/note/mock-subscribe?openid=okvXqsw1VG76eVVJrKivWDgps_gA">关注</a>
            <a href="/note/mock-subscribe?openid=oqSpUuDlnKxHxwZa4xylKuyxaXNM">测试号关注</a>
        </div>
    </div>
</body>
</html>