<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{__app.resources.app.title}}</title>
    <script>
    </script>
</head>
<body style="background: #F2F6F9;">
    <div style="width:100%; height: 100%;">
        <!-- 服务号二维码 -->
        <div style="margin:100px auto 20px auto; text-align: center; vertical-align: middle;">
            <img src="/public/images/qrcode_for_{{wechatId}}.jpg" width="200" height="200">
        </div>
        <div style="font-size: 16px; text-align: center; vertical-align: middle;">
            长按识别二维码
            <br><br>关注<label style="padding: 5px; margin: 5px 5px;font-size:18px; background-color: #3399FF; color: #fff;">{{__app.resources.app.title}}</label>
            <br><br><label style="font-size:20px">记录光阴的故事</label>
        </div>

        {% if env=='ndev' %}
            <div>
                <a href="/note/mock-subscribe?openid=oqSpUuDlnKxHxwZa4xylKuyxaXNM">测试号包三哥</a>
                <a href="/note/mock-subscribe?openid=okvXqswFmgRwEV0YrJ-h5YvKhdUk">测试号祺天大剩</a>
            </div>
        {% endif %}
    </div>
</body>
</html>