body {
  background-color: #F2F6F9;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
div.page {
  background-color: #F2F6F9;
  margin: 0px;
  padding: 0px;
}
div.page div.title {
  margin: 0px;
  padding: 20px 20px;
  border: 0px solid transparent;
}
div.page div.title input {
  margin: 10px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
  width: 90%;
  font-size: 24px;
  background: transparent;
  border: 0px;
}
div.page div.title div.line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px outset #999999;
}
div.reference {
  font-size: 14px;
  margin: 0px;
  padding: 10px 20px 10px 20px ;
  display: table;
  color: #202020;
}
div.reference img.user-icon {
  height: 24px;
  width: 24px;
  border: 0px;
}
div.reference label.user-nickname {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  border: 0px;
  display: table-cell;
  vertical-align: middle;
}
img.user-icon {
  height: 24px;
  width: 24px;
  border: 0px;
}
img.small-icon {
  height: 16px;
  width: 16px;
  border: 0px;
}
label.user-nickname {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  border: 0px;
  display: table-cell;
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
div.section {
  background-color: transparent;
  margin: 20px 5px;
  padding: 0px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
}
div.section div.top-padding {
  height: 20px;
}
div.section div.bottom-padding {
  height: 0px;
}
div.section div.panel {
  background-color: #ffffff;
}
div.section .btn {
  font-size: 12px;
  color: #aab8c2;
}
div.section .btn.active {
  color: #4298ed;
}
div.section div.author {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0px 60px 10px 60px;
  padding: 10px 0px 10px 0px ;
  height: 40px;
  text-align: center;
  display: block;
  color: #202020;
}
div.section div.top {
  font-size: 14px;
  margin: 0px 20px;
  padding: 0px 0px 0px 0px ;
  text-align: right;
}
div.section div.img-btn {
  width: 16px;
  height: 16px;
  border: 0px;
  padding: 4px;
}
div.section div.img-btn img {
  width: 16px;
  height: 16px;
  border: 0px;
}
div.section div.bottom {
  font-size: 14px;
  margin: 0px 10px;
  padding: 0px 0px 0px 0px ;
  height: 30px;
  color: #202020;
}
div.section .interact {
  margin: 10px 10px;
}
div.section .likes {
  background-color: #F2F6F9;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px ;
  border-bottom: 1px solid #e1e8ed;
}
div.section .likes span {
  margin-left: 8px;
  font-size: 14px;
  color: #888;
}
div.section .likes ul {
  margin: 0px;
  padding: 5px 5px;
  list-style-type: none;
  overflow: hidden;
}
div.section .likes ul li {
  float: left;
  margin-right: 10px;
  padding: 0px 0px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
div.section .likes ul li:last-child {
  border-bottom: none;
  margin-right: 0px;
}
div.section .comments {
  background-color: #F2F6F9;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px ;
}
div.section .comments span {
  margin-left: 8px;
  font-size: 14px;
  color: #888;
}
div.section .comments ul {
  margin: 0px;
  padding: 5px 5px;
  list-style-type: none;
}
div.section .comments ul li {
  padding: 5px 0px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}
div.section .comments ul li:last-child {
  border-bottom: none;
}
.note-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.note-voice {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
div.add-section-bar {
  display: table;
  width: 100%;
  margin: 40px 0px;
}
div.add-section-bar div.add-section {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
div.add-section-bar div.add-section div {
  display: inline-block;
  padding: 8px 4px 2px 6px;
  border: 1px solid #000000;
  width: 55px;
  height: 55px;
}
div.add-section-bar div.add-section div img {
  height: 50px;
  width: 50px;
  border: 0px solid #000000;
}
.input-panel {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 10000;
  bottom: 0px;
}
.input-panel .input-bar {
  height: 32px;
  width: 100%;
  padding: 7px 0px 8px 0px;
  background-color: #ffffff;
  border-top: 1px solid #d0d0d0;
  overflow: hidden;
}
.input-panel .input-bar .btn {
  height: 32px;
  width: 32px;
  padding: 0px 10px;
}
.input-panel .input-bar .btn img {
  height: 32px;
  width: 32px;
  border: none;
}
.input-panel .input-bar .send-btn {
  margin: 2px -5px;
  padding: 2px 0px;
  width: 42px;
  height: 28px;
  line-height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  text-align: center;
  background: #18c54b;
  color: white;
}
.input-panel .input-bar .text-area {
  padding: 0px 5px;
  margin: 0px 52px 0px 52px;
}
.input-panel .input-bar .text-area input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  border-top: 0px solid transparent;
  border-bottom: 1px solid #CBCBCB;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 14px;
}
.input-panel .input-bar .text-area input:focus {
  border-bottom: 1px solid #66CC00;
}
.input-panel .input-bar .voice-area {
  padding: 0px 5px;
  margin: 0px 52px 0px 52px;
}
.input-panel .input-bar .voice-area input {
  width: 100%;
  height: 32px;
  padding: 4px 0px;
  box-sizing: border-box;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  color: #9E9E9E;
  content: "按住 说话";
}
.input-panel .input-bar .voice-area input:focus {
  color: #D9D9D9;
  content: "松开 结束";
}
.input-panel .input-more {
  height: 118px;
  border-top: 1px solid #ccc;
  background: white;
}
.input-panel .input-more ul {
  width: 100%;
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
}
.input-panel .input-more ul li {
  float: left;
  margin: 20px;
  width: 48px;
  height: 48px;
  border: 0px solid #ccc;
}
.input-panel .input-more ul li .more-item {
  width: 48px;
  height: 48px;
  border: 1px solid #797979;
}
.input-panel .input-more ul li .more-item img {
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 0px solid transparent;
}
.input-panel .input-more ul li .inactive {
  opacity: 0.6;
}
.comment-panel {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  bottom: 0px;
}
.comment-panel .comment-bar {
  height: 32px;
  width: 100%;
  padding: 7px 0px 8px 0px;
  background-color: #ffffff;
  border-top: 1px solid #d0d0d0;
  overflow: hidden;
}
.comment-panel .comment-bar .btn {
  height: 32px;
  width: 32px;
  padding: 0px 10px;
}
.comment-panel .comment-bar .btn img {
  height: 32px;
  width: 32px;
  border: none;
}
.comment-panel .comment-bar .send-btn {
  margin: 2px -5px;
  padding: 2px 0px;
  width: 42px;
  height: 28px;
  line-height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #9E9E9E;
  text-align: center;
  background-color: #ffffff;
  color: #303030;
}
.comment-panel .comment-bar .send-btn.active {
  background-color: #18c54b;
  color: #ffffff;
}
.comment-panel .comment-bar .text-area {
  padding: 0px 5px;
  margin: 0px 52px 0px 0px;
}
.comment-panel .comment-bar .text-area input {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
  border-top: 0px solid transparent;
  border-bottom: 1px solid #CBCBCB;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 14px;
}
.comment-panel .comment-bar .text-area input:focus {
  border-bottom: 1px solid #66CC00;
}
.page-action-bar {
  position: fixed;
  background-color: #666666;
  opacity: 0.8;
  width: 100%;
  height: 32px;
  z-index: 10;
  top: 0px;
  overflow: hidden;
}
.page-action-bar .save {
  width: 50px;
  height: 22px;
  margin: 5px 10px;
  padding: 0px 10px;
  background-color: #36BA00;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.page-action-bar .cancel {
  width: 30px;
  height: 22px;
  margin: 0px 10px;
  padding: 5px 0px;
  background-color: #666666;
  color: #ffffff;
  font-size: 14px;
}
.voice-bubble {
  position: relative;
  height: 16px;
  padding: 12px 10px;
  border: 1px solid #D3D3D3;
  color: #333;
  background: #fff;
  border-radius: 6px;
}
.voice-bubble.left {
  margin-left: 8px;
}
.voice-bubble.left img {
  display: block;
  width: 16px;
  height: 16px;
  border: none;
}
.voice-bubble.left:before {
  top: 12px;
  bottom: auto;
  left: -8px;
  border-width: 6px 8px 6px 0;
  border-color: transparent #D3D3D3;
}
.voice-bubble:before {
  position: absolute;
  content: "";
  border-style: solid;
  display: block;
  width: 0;
}
.voice-bubble.left:after {
  top: 13px;
  bottom: auto;
  left: -7px;
  border-width: 5px 7px 5px 0;
  border-color: transparent #fff;
}
.voice-bubble:after {
  position: absolute;
  content: "";
  border-style: solid;
  display: block;
  width: 0;
}
