//style="background: #82817f;max-width: 768px;position: relative; margin: 0px auto;"
//排班
@baseFontSize:	16px;
//@baseFontFamily:	"Helvetica Neue", Helvetica, Arial, sans-serif";
@baseFontFamily:	"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@baseLineHeight:	18px;

//颜色
@bgColor: #000000;

body.page {
  background-color: @bgColor;
  font-family: @baseFontFamily;
}

