<style>
    .adlink-bottom{
        position: fixed;
        width: 100%;
        font-size: 0px;
        left: 0px;
        bottom: 0px;
    }
    .adlink-top{
        position: fixed;
        width: 100%;
        font-size: 0px;
        left: 0px;
        top: 0px;
    }
    .adlink_ad_content{
        width: 100%;
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }

    .adlink_ad_dark{
        /*background: #1d1d1d;*/
        opacity: 1;
    }
    .adlink_ad_light{
        /*background: #eeeeee;*/
        opacity: 1;
    }

</style>
<div id="adlink_ad_bar" class="adlink-bottom">
    <div class="adlink_ad_close"></div>
    <div class="adlink_ad_call"></div>
    <div class="adlink_ad_content adlink_ad_dark">
        <a href="{{url}}">
            <img src="{{adpicUrl}}" width="100%" height="100%"/>
        </a>
    </div>
</div>
