<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城页</title>
    <script>
        window.__app = {{ JSON.stringify(__app) }};
        window.__app.tenant = {{JSON.stringify(tenant)}};
        window.__page = {{ JSON.stringify(__page) }};
        window.prdOrNot =( __app.settings.env.NODE_ENV === "production" );
    </script>
    <script src="/web/build/js/common.js"></script>
</head>
<body>
    <span>dddd</span>
    <catalog-index id="{{ id }}"></catalog-index>
    <!--<script src="/web/build/js/build.js"></script>-->
</body>
</html>