<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情</title>
    <script>
        window.__app = {{ JSON.stringify(__app) }};
        window.__app.tenant = {{JSON.stringify(tenant)}};
        window.__page = {{ JSON.stringify(__page) }};
        window.prdOrNot =( __app.settings.env.NODE_ENV === "production" );
    </script>
    <script src="/web/build/js/common.js"></script>
</head>
<body>
    <product id="{{id}}"></product>
    <script src="/web/build/js/build.js"></script>
</body>
</html>